page-login {
  .form-login{
    border: 2px solid green;
    border-radius: 20px;
  }
      
  .margin{
    margin-left :1%;
    margin-right : 1%;
  }

  .botonimagen{
    background-image:url("./../assets/chat-background.jpg");
    background-repeat:no-repeat;
    height:100px;
    width:100px;
    background-position:center;
  }  



}//page-login


