page-login {
    #body{
        background: #cddc3961;
    }

    .btn{
        height:40px;
        font-weight: bold;
        font-size: 18px;
        // margin-top:20%;
    }

    .btn-ingresar{
        background: #1a376b !important;
        font-size: 23px !important;
        height: 50px !important;
    }

    .form-control{
        height: 40px;
        font-size: 17px;
    }

}